In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import requests

In [2]:
# 그래프에 한글 사용 설정
from matplotlib import font_manager, rc
font_path = 'c:/Windows/Fonts/NGULIM.ttf'  # 폰트가 설치되어 있는 경로
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

In [3]:
import warnings
# 모든 경고 무시
warnings.filterwarnings('ignore')

#### 2024년 서울 인구 수 파일 불러오기

In [16]:
# 2024년 서울 인구 수 파일 불러오기
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_excel('서울인구.xlsx')
data

,동별(1),동별(2),2024 3/4,2024 3/4.1,2024 3/4.2,2024 3/4.3,2024 3/4.4,2024 3/4.5,2024 3/4.6,2024 3/4.7,2024 3/4.8,2024 3/4.9,2024 3/4.10,2024 3/4.11
0,동별(1),동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,합계,소계,4487671,9605419,4625980,4979439,9350995,4515791,4835204,254424,110189,144235,2.08,1803910
3,NaN,종로구,72341,150011,71561,78450,138879,66846,72033,11132,4715,6417,1.92,29598
4,NaN,중구,65378,131589,63248,68341,121324,58447,62877,10265,4801,5464,1.86,26712
5,NaN,용산구,103860,218370,105220,113150,205145,98118,107027,13225,7102,6123,1.98,39250
6,NaN,성동구,132856,282385,136194,146191,275403,133271,142132,6982,2923,4059,2.07,50825
7,NaN,광진구,170383,349307,166408,182899,333403,159948,173455,15904,6460,9444,1.96,59018
8,NaN,동대문구,173878,359219,173606,185613,340686,166693,173993,18533,6913,11620,1.96,69066
9,NaN,중랑구,188803,386131,188352,197779,380353,186052,194301,5778,2300,3478,2.01,82248
10,NaN,성북구,197414,435492,207417,228075,423439,202975,220464,12053,4442,7611,2.14,82864
11,NaN,강북구,143163,289678,139053,150625,284313,137246,147067,5365,1807,3558,1.99,70643
12,NaN,도봉구,138862,306926,148222,158704,304255,147261,156994,2671,961,1710,2.19,73227
13,NaN,노원구,218362,498358,238562,259796,493486,236548,256938,4872,2014,2858,2.26,99576
14,NaN,은평구,215784,466809,220765,246044,462514,219045,243469,4295,1720,2575,2.14,96983
15,NaN,서대문구,147107,319749,148996,170753,304523,144288,160235,15226,4708,10518,2.07,59782
16,NaN,마포구,181686,373874,172953,200921,362564,168948,193616,11310,4005,7305,2,59497
17,NaN,양천구,180600,435867,212218,223649,432523,210874,221649,3344,1344,2000,2.39,79377
18,NaN,강서구,274044,563515,269481,294034,557662,267019,290643,5853,2462,3391,2.03,106200
19,NaN,구로구,184161,412441,202945,209496,389416,190695,198721,23025,12250,10775,2.11,82845
20,NaN,금천구,121224,239577,120697,118880,226003,113632,112371,13574,7065,6509,1.86,47307
21,NaN,영등포구,192189,397514,194953,202561,374653,183189,191464,22861,11764,11097,1.95,69713
22,NaN,동작구,187461,387792,186531,201261,377137,182205,194932,10655,4326,6329,2.01,72471
23,NaN,관악구,286376,496469,248279,248190,479774,241605,238169,16695,6674,10021,1.68,88015
24,NaN,서초구,170839,412611,196260,216351,408060,194085,213975,4551,2175,2376,2.39,67995
25,NaN,강남구,246005,564280,269671,294609,558508,267096,291412,5772,2575,3197,2.27,90667
26,NaN,송파구,287511,657991,315479,342512,651882,312684,339198,6109,2795,3314,2.27,113015
27,NaN,강동구,207384,469464,228909,240555,465090,227021,238069,4374,1888,2486,2.24,87016

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   동별(1)        3 non-null      object
 1   동별(2)        28 non-null     object
 2   2024 3/4     28 non-null     object
 3   2024 3/4.1   28 non-null     object
 4   2024 3/4.2   28 non-null     object
 5   2024 3/4.3   28 non-null     object
 6   2024 3/4.4   28 non-null     object
 7   2024 3/4.5   28 non-null     object
 8   2024 3/4.6   28 non-null     object
 9   2024 3/4.7   28 non-null     object
 10  2024 3/4.8   28 non-null     object
 11  2024 3/4.9   28 non-null     object
 12  2024 3/4.10  28 non-null     object
 13  2024 3/4.11  28 non-null     object
dtypes: object(14)
memory usage: 3.2+ KB

In [17]:
# '동별(1)','2024 3/4' 열 삭제
# data.drop(['동별(1)', '2024 3/4'], axis = 1)
data.drop(columns = ['동별(1)', '2024 3/4'], inplace = True)
data

,동별(2),2024 3/4.1,2024 3/4.2,2024 3/4.3,2024 3/4.4,2024 3/4.5,2024 3/4.6,2024 3/4.7,2024 3/4.8,2024 3/4.9,2024 3/4.10,2024 3/4.11
0,동별(2),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(2),소계,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,소계,9605419,4625980,4979439,9350995,4515791,4835204,254424,110189,144235,2.08,1803910
3,종로구,150011,71561,78450,138879,66846,72033,11132,4715,6417,1.92,29598
4,중구,131589,63248,68341,121324,58447,62877,10265,4801,5464,1.86,26712
5,용산구,218370,105220,113150,205145,98118,107027,13225,7102,6123,1.98,39250
6,성동구,282385,136194,146191,275403,133271,142132,6982,2923,4059,2.07,50825
7,광진구,349307,166408,182899,333403,159948,173455,15904,6460,9444,1.96,59018
8,동대문구,359219,173606,185613,340686,166693,173993,18533,6913,11620,1.96,69066
9,중랑구,386131,188352,197779,380353,186052,194301,5778,2300,3478,2.01,82248
10,성북구,435492,207417,228075,423439,202975,220464,12053,4442,7611,2.14,82864
11,강북구,289678,139053,150625,284313,137246,147067,5365,1807,3558,1.99,70643
12,도봉구,306926,148222,158704,304255,147261,156994,2671,961,1710,2.19,73227
13,노원구,498358,238562,259796,493486,236548,256938,4872,2014,2858,2.26,99576
14,은평구,466809,220765,246044,462514,219045,243469,4295,1720,2575,2.14,96983
15,서대문구,319749,148996,170753,304523,144288,160235,15226,4708,10518,2.07,59782
16,마포구,373874,172953,200921,362564,168948,193616,11310,4005,7305,2,59497
17,양천구,435867,212218,223649,432523,210874,221649,3344,1344,2000,2.39,79377
18,강서구,563515,269481,294034,557662,267019,290643,5853,2462,3391,2.03,106200
19,구로구,412441,202945,209496,389416,190695,198721,23025,12250,10775,2.11,82845
20,금천구,239577,120697,118880,226003,113632,112371,13574,7065,6509,1.86,47307
21,영등포구,397514,194953,202561,374653,183189,191464,22861,11764,11097,1.95,69713
22,동작구,387792,186531,201261,377137,182205,194932,10655,4326,6329,2.01,72471
23,관악구,496469,248279,248190,479774,241605,238169,16695,6674,10021,1.68,88015
24,서초구,412611,196260,216351,408060,194085,213975,4551,2175,2376,2.39,67995
25,강남구,564280,269671,294609,558508,267096,291412,5772,2575,3197,2.27,90667
26,송파구,657991,315479,342512,651882,312684,339198,6109,2795,3314,2.27,113015
27,강동구,469464,228909,240555,465090,227021,238069,4374,1888,2486,2.24,87016

- 서울시 전체 인구 : 전체, 남자, 여자 인구

In [18]:
# 서울시 전체 인구 : 전체, 남자, 여자 인구
data_total = data.iloc[:, 0:4]
data_total

    동별(2) 2024 3/4.1 2024 3/4.2 2024 3/4.3
0   동별(2)      계 (명)      계 (명)      계 (명)
1   동별(2)         소계         남자         여자
2      소계    9605419    4625980    4979439
3     종로구     150011      71561      78450
4      중구     131589      63248      68341
5     용산구     218370     105220     113150
6     성동구     282385     136194     146191
7     광진구     349307     166408     182899
8    동대문구     359219     173606     185613
9     중랑구     386131     188352     197779
10    성북구     435492     207417     228075
11    강북구     289678     139053     150625
12    도봉구     306926     148222     158704
13    노원구     498358     238562     259796
14    은평구     466809     220765     246044
15   서대문구     319749     148996     170753
16    마포구     373874     172953     200921
17    양천구     435867     212218     223649
18    강서구     563515     269481     294034
19    구로구     412441     202945     209496
20    금천구     239577     120697     118880
21   영등포구     397514     194953     202561
22    동작구     387792     186531     201261
23    관악구     496469     248279     248190
24    서초구     412611     196260     216351
25    강남구     564280     269671     294609
26    송파구     657991     315479     342512
27    강동구     469464     228909     240555

In [19]:
# 새로운 컬럼명을 설정하고, 0행 ~ 2행 삭제
data_total.columns = ['구', '소계', '남자', '여자']
data_total = data_total.drop(index = [0, 1, 2])
data_total

       구      소계      남자      여자
3    종로구  150011   71561   78450
4     중구  131589   63248   68341
5    용산구  218370  105220  113150
6    성동구  282385  136194  146191
7    광진구  349307  166408  182899
8   동대문구  359219  173606  185613
9    중랑구  386131  188352  197779
10   성북구  435492  207417  228075
11   강북구  289678  139053  150625
12   도봉구  306926  148222  158704
13   노원구  498358  238562  259796
14   은평구  466809  220765  246044
15  서대문구  319749  148996  170753
16   마포구  373874  172953  200921
17   양천구  435867  212218  223649
18   강서구  563515  269481  294034
19   구로구  412441  202945  209496
20   금천구  239577  120697  118880
21  영등포구  397514  194953  202561
22   동작구  387792  186531  201261
23   관악구  496469  248279  248190
24   서초구  412611  196260  216351
25   강남구  564280  269671  294609
26   송파구  657991  315479  342512
27   강동구  469464  228909  240555

In [20]:
# 인덱스 리셋 
data_total.reset_index(drop = True, inplace = True)
data_total

       구      소계      남자      여자
0    종로구  150011   71561   78450
1     중구  131589   63248   68341
2    용산구  218370  105220  113150
3    성동구  282385  136194  146191
4    광진구  349307  166408  182899
5   동대문구  359219  173606  185613
6    중랑구  386131  188352  197779
7    성북구  435492  207417  228075
8    강북구  289678  139053  150625
9    도봉구  306926  148222  158704
10   노원구  498358  238562  259796
11   은평구  466809  220765  246044
12  서대문구  319749  148996  170753
13   마포구  373874  172953  200921
14   양천구  435867  212218  223649
15   강서구  563515  269481  294034
16   구로구  412441  202945  209496
17   금천구  239577  120697  118880
18  영등포구  397514  194953  202561
19   동작구  387792  186531  201261
20   관악구  496469  248279  248190
21   서초구  412611  196260  216351
22   강남구  564280  269671  294609
23   송파구  657991  315479  342512
24   강동구  469464  228909  240555

In [21]:
data_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   소계      25 non-null     object
 2   남자      25 non-null     object
 3   여자      25 non-null     object
dtypes: object(4)
memory usage: 932.0+ bytes

In [22]:
# '구' 열을 인덱스로 지정
data_total.set_index('구', inplace = True)
data_total

          소계      남자      여자
구
종로구   150011   71561   78450
중구    131589   63248   68341
용산구   218370  105220  113150
성동구   282385  136194  146191
광진구   349307  166408  182899
동대문구  359219  173606  185613
중랑구   386131  188352  197779
성북구   435492  207417  228075
강북구   289678  139053  150625
도봉구   306926  148222  158704
노원구   498358  238562  259796
은평구   466809  220765  246044
서대문구  319749  148996  170753
마포구   373874  172953  200921
양천구   435867  212218  223649
강서구   563515  269481  294034
구로구   412441  202945  209496
금천구   239577  120697  118880
영등포구  397514  194953  202561
동작구   387792  186531  201261
관악구   496469  248279  248190
서초구   412611  196260  216351
강남구   564280  269671  294609
송파구   657991  315479  342512
강동구   469464  228909  240555

In [23]:
# 모든 열을 int64로 변환
data_total = data_total.astype('int64')
data_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소계      25 non-null     int64
 1   남자      25 non-null     int64
 2   여자      25 non-null     int64
dtypes: int64(3)
memory usage: 800.0+ bytes

In [25]:
data_total.sample(10)

          소계      남자      여자
구
중랑구   386131  188352  197779
금천구   239577  120697  118880
강남구   564280  269671  294609
강서구   563515  269481  294034
영등포구  397514  194953  202561
광진구   349307  166408  182899
강북구   289678  139053  150625
성동구   282385  136194  146191
은평구   466809  220765  246044
구로구   412441  202945  209496

- 서울시 한국인 인구 수 :전체, 남자, 여자 인구

In [26]:
# 서울시 한국인 인구 수 :전체, 남자, 여자 인구
data_ko = data.iloc[:, [0, 4, 5, 6]]
data_ko.head()

   동별(2) 2024 3/4.4 2024 3/4.5 2024 3/4.6
0  동별(2)    한국인 (명)    한국인 (명)    한국인 (명)
1  동별(2)         소계         남자         여자
2     소계    9350995    4515791    4835204
3    종로구     138879      66846      72033
4     중구     121324      58447      62877

In [18]:
# 새로운 컬럼명을 설정하고, 0행 ~ 2행 삭제


# 인덱스 리셋

     구      소계      남자      여자
0  종로구  138879   66846   72033
1   중구  121324   58447   62877
2  용산구  205145   98118  107027
3  성동구  275403  133271  142132
4  광진구  333403  159948  173455

In [19]:
data_ko.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   소계      25 non-null     object
 2   남자      25 non-null     object
 3   여자      25 non-null     object
dtypes: object(4)
memory usage: 932.0+ bytes

In [20]:
# '구' 열을 인덱스로 지정

In [21]:
# 모든 열을 int64로 변환

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소계      25 non-null     int64
 1   남자      25 non-null     int64
 2   여자      25 non-null     int64
dtypes: int64(3)
memory usage: 800.0+ bytes

In [22]:
data_ko.head()

         소계      남자      여자
구
종로구  138879   66846   72033
중구   121324   58447   62877
용산구  205145   98118  107027
성동구  275403  133271  142132
광진구  333403  159948  173455

- 서울시 외국인 인구 수 :전체, 남자, 여자 인구

In [82]:
# 서울시 외국인 인구 수 :전체, 남자, 여자 인구
data_f = data.iloc[:, [0, 7, 8, 9]]
data_f.head()

   동별(2) 2024 3/4.7 2024 3/4.8 2024 3/4.9
0  동별(2)  등록외국인 (명)  등록외국인 (명)  등록외국인 (명)
1  동별(2)         소계         남자         여자
2     소계     254424     110189     144235
3    종로구      11132       4715       6417
4     중구      10265       4801       5464

In [25]:
# 새로운 컬럼명을 설정하고, 0행 ~ 2행 삭제


# 인덱스 리셋

     구     소계    남자    여자
0  종로구  11132  4715  6417
1   중구  10265  4801  5464
2  용산구  13225  7102  6123
3  성동구   6982  2923  4059
4  광진구  15904  6460  9444

In [26]:
data_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   소계      25 non-null     object
 2   남자      25 non-null     object
 3   여자      25 non-null     object
dtypes: object(4)
memory usage: 932.0+ bytes

In [27]:
# '구' 열을 인덱스로 지정

In [28]:
# 모든 열을 int64로 변환
data_f = data_ko.astype('int64')
data_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   소계      25 non-null     int64
 1   남자      25 non-null     int64
 2   여자      25 non-null     int64
dtypes: int64(3)
memory usage: 800.0+ bytes

In [29]:
data_f.head()

         소계      남자      여자
구
종로구  138879   66846   72033
중구   121324   58447   62877
용산구  205145   98118  107027
성동구  275403  133271  142132
광진구  333403  159948  173455

In [27]:
# 완성된 데이터프레임 저장
# .csv 파일로 저장하기 : 인덱스 무시하고 저장
data_total.to_csv('seoul_total.csv')

In [64]:
# 완성된 데이터프레임 저장
# .csv 파일로 저장하기 : 인덱스 무시하고 저장
data_ko.to_csv('seoul_ko.csv')

In [66]:
# 완성된 데이터프레임 저장
# .csv 파일로 저장하기 : 인덱스 무시하고 저장
data_f.to_csv('seoul_f.csv')